<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static files</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="card">
        <h2>Welcome to demo API </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis reprehenderit quibusdam sapiente pariatur repellendus magnam quas eveniet itaque, facilis, provident fuga sunt! Facere aspernatur quas rerum. Neque deleniti eaque consectetur!

            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo neque laudantium eaque itaque rerum? Eius ad illo molestias odio ab facere adipisci. Placeat recusandae excepturi consequuntur eum amet cumque officiis?
            </p>
        
    </div>
    
</body>
</html>